body {
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(120deg, #f6d365, #fda085);
  color: white;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
}

nav .logo {
  color: black;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

nav .logo span {
  color: #40a0a3;
}

nav .navbar ul {
  list-style: none;
  width: 90%;
}

nav .navbar ul li .log-btn {
  cursor: pointer;
  background: none;
  border: none;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: bold;
  color: black;
}

nav .navbar ul li .log-btn:hover {
  color: #444444;
}

nav .navbar ul li .logOut-btn {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal .modal-box {
  margin: 10% auto;
  width: 400px;
  position: relative;
  background-color: white;
  -webkit-animation: modalopen 0.4s;
          animation: modalopen 0.4s;
}

@-webkit-keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal .modal-box .modal-body {
  padding: 40px;
  padding-right: 45px;
}

.modal .modal-box .modal-body .btn {
  background-color: black;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  padding: 8px 0px;
  font-weight: bold;
  width: 100%;
  margin-top: 20px;
  margin-left: 3px;
  font-family: 'Montserrat', sans-serif;
}

.modal .modal-box .close1 {
  cursor: pointer;
  height: 23px;
  width: 23px;
  position: absolute;
  top: 20px;
  right: 15px;
}

.modal .modal-box .modal-footer {
  background-color: #f7f7f9;
  padding: 0px 0px 20px 0px;
  text-align: center;
}

.modal .modal-box .modal-footer a {
  font-size: small;
  color: steelblue;
  text-decoration: none;
}

.modal .modal-box .modal-footer a span {
  text-decoration: underline;
}

.modal .modal-box .modal-footer a span:hover {
  color: blue;
  font-weight: bold;
}

.modal .modal-box form .log-form {
  margin: 15px 0px;
}

.modal .modal-box form .log-form label {
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}

.modal .modal-box form .log-form input {
  width: 100%;
  height: 30px;
}

.modal .modal-box2 {
  display: none;
  margin: 10% auto;
  width: 400px;
  position: relative;
  background-color: white;
}

.modal .modal-box2 .modal-body {
  padding: 40px;
  padding-right: 45px;
}

.modal .modal-box2 .modal-body .btn {
  background-color: black;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  padding: 8px 0px;
  font-weight: bold;
  width: 100%;
  margin-top: 20px;
  margin-left: 3px;
  font-family: 'Montserrat', sans-serif;
}

.modal .modal-box2 .close2 {
  cursor: pointer;
  height: 23px;
  width: 23px;
  position: absolute;
  top: 20px;
  right: 15px;
}

.modal .modal-box2 form .log-form {
  margin: 15px 0px;
}

.modal .modal-box2 form .log-form label {
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}

.modal .modal-box2 form .log-form input {
  width: 100%;
  height: 30px;
}

header {
  font-size: 1.5rem;
  width: 100vw;
  min-height: 20vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

.header-form {
  min-height: 20vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-form textarea, .header-form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

.header-form button {
  color: #d88771;
  background: white;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-form button:hover {
  background: #d88771;
  color: white;
}

.blog-container {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-container .blog-list {
  min-width: 30%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.blog-container .blog {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-container .blog li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.blog-container .delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
}

.blog-container .delete-btn:hover {
  background: white;
  color: red;
}

.blog-container .blog-item {
  padding: 0rem 0.5rem;
}

.blog-container .fa-trash {
  pointer-events: none;
}

@media (min-width: 920px) and (max-width: 1318px) {
  .header-form {
    width: 900px;
    margin: auto;
  }
}

@media (min-width: 760px) and (max-width: 920px) {
  .header-form {
    width: 750px;
    margin: auto;
  }
}

@media (max-width: 760px) {
  .modal .modal-box, .modal .modal-box2 {
    width: 320px;
  }
  header {
    padding: 0;
  }
  header h3 {
    font-size: 1.2rem;
  }
  .header-form {
    width: 300px;
    margin: auto;
  }
}
/*# sourceMappingURL=style.css.map */